.table {
  margin-top: 10px;
  overflow: scroll;
  color: #6a5d5d;
  height: 440px;
  box-shadow: 10px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid;
}

.table td {
  padding: 0.5rem;
  border: none;
}